*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;

}
.navbar{
    position: fixed;
    width: 100%;
    background: crimson; 
    font-family: 'Ubuntu';
    padding: 15px 0;
    transition: all 0.3s ease;
    border-radius: 5px 0px 5px 0px;
    
}
/* .navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar.sticky.logo span{
    color: white;
} */
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto  ;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar .logo{
    color: white;
    font-size: 35px;
    font-weight: 600;
    
}
.navbar .logo span{
    color: black; 
    transition: all 0.3s ease;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: black;
}

/*Home section style*/
.home{
    display: flex;
    background-color: black;
    height: 100vh;
    color: white;
    font-family: sans-serif;
    min-height: 500px;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
/*About me style*/
.about{
    background-color: white;
    height: 100vh;
    color: black;
    font-family: sans-serif;
    /* min-height: 500px; */
}
.about-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
    margin: 0px 0px 80px 0px;
    padding: 50px 30px 30px 30px;
}
.about-me{
    font-family: 'Ubuntu';
    font-size: xx-large;
}
.whoami{
    font-family: 'sans-serif';
    color:crimson ;
    margin-top: 0.5rem;
}
.image-1{
    width: 600px;
    height: 400px;
    margin-left: 5rem; 
    box-shadow: 2px 2px 7px gray;
    border-radius: 20px 0px 20px 0px;
    /* border:solid  red; */
}
.photo-box{
    display: flex;
    justify-content: space-between;
}
.description{
    margin-right: 12rem;
    /* border:solid  red;  */
    margin-left: 0px;
    padding: 30px 2px;
    font-style: italic;
}
.about-detail{
    padding: 10px;
}
.cv{
    background-color: crimson;
    font-style: normal;
    color: white;
    padding: 1rem;
    margin: 3rem 11rem;
    font-family: 'Ubuntu';
    border-radius: 10px 0px 10px 0px;
}
/*Services style*/
.services{
    background-color: black;
    height: 100vh;
    color: white;
    font-family: sans-serif;
}
.service-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 7rem 30px 0rem 0rem;
}
.my-services{
    font-family: 'Ubuntu';
    font-size: xx-large;
}
.provide{
    font-family: 'sans-serif';
    color:crimson ;
    margin-top: 0.5rem;
}
.skills-components{
    background-color: rgb(22, 21, 21);
    border-radius: 50px 0px 50px 0px;
}
.web-title{
    color: crimson;
    font-family: 'Ubuntu';
    font-size: xx-large;
    padding: 2rem;
}
.decription{
    color: white;
    padding: 1rem;
}
.skill-container{
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
}
/*Contact style*/
.contact{
    background-color:white;
    height: 100vh;
    color: black;
    font-family: sans-serif;
}
.contact-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 7rem 0rem 7rem 0rem;
}
.me{
    font-family: 'Ubuntu';
    font-size: xx-large;
}
.get-touch{
    font-family: 'sans-serif';
    color:crimson ;
    margin-top: 1rem;
}
.getmessage{
    display: flex;
    justify-content: space-around;
}
.get{
    font-family: 'sans-serif';
    margin: 1rem 8rem;
}
.get .in-touch p{
       font-size:xx-large ;
       margin-bottom: 1rem;
}
.in-touchmessage{
    margin-bottom: 7px;
}
.in-touchmessagel{
    margin-bottom: 2rem;
}
.name{
    margin-bottom: 2rem;
}
.adress{
    margin-bottom: 2rem;
}
.email{
    margin-bottom: 1rem;
}
.message{
    /* border: solid red; */
    margin-right: 20rem;
}
.messageme{
    font-size: x-large;
    margin: 1rem 0rem 1rem 0rem;
}
input{
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.in1{
    width: 200px;
}
.send{
    color: white;
    background-color: crimson;
    padding: 0.5rem 0.5rem 0.5rem 1rem ;
    margin: 0.5rem 16rem 0.5rem 0rem;
    font-family: 'Ubuntu';
    border-radius: 10px 0px 10px 0px;

}